.pagina-dashboard {
  min-height: 100vh;
  background: #f5f5f5;
}

.conteudo-dashboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.cards-dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 20px;
}

.card-dashboard {
  background: rgb(170, 170, 255);
  padding: 25px;
  border-radius: 8px;
}

.card-dashboard span {
  display: block;
  margin-bottom: 5px;
}

.card-dashboard strong {
  font-size: 50px;
}

@media (max-width: 900px) {
  .cards-dashboard {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards-dashboard {
    grid-template-columns: 1fr;
  }

  .card-dashboard strong {
    font-size: 40px;
  }
}